* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  border: 1px solid #000;
}

.container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.container div {
  width: 150px;
  height: 150px;
  position: absolute;
}

.position1 {
  /* position: relative; */
  /* 추후에 수정사항이 생겨서 콘텐츠가 늘어나면 위치가 달라질 수 있음 */
  top: 50px;
  left: 50px;
}

.position2 {
  /* position: absolute; */
  top: 100px;
  left: 250px;
}

.position3 {
  /* position: absolute; */
  left: 50px;
  bottom: 50px;
}

/* 실무에서 이런식으로 사용 (규격을 정해놓고 필요에 따라 호출해서 사용) */
.position-top-50 {
  top: 50px;
}
.position-top-200 {
  top: 200px;
}
.position-left-50 {
  left: 50px;
}
.position-left-200 {
  left: 200px;
}